@font-face {
    font-family: Courier New; /* Гарнитура шрифта */
    src: url('fonts/couriernew.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/couriernew.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/couriernew.woff') format('woff'), /* Pretty Modern Browsers */
        url('fonts/couriernew.ttf')  format('truetype')/* Safari, Android, iOS */;
}
#mainBlock{
    margin-bottom: 6px;
}
.title{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
}
.synagogue-name{
    font-family: Courier New;
    font-size: 70px;
    font-weight: bold;
}
.date{
    font-family: Arial;
    font-size: 45px;
    color: navy;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftside-title{
    font-size: 30px;
    font-family: Tachoma;
    color: #333333;
}
.white .leftside-title{
    font-size: 30px;
    font-family: Tachoma;
    color: #333333;
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}
.leftside-time{
    font-size: 45px;
    font-family: Arial;
    color: #333333;
    font-weight: bold;
}
.canva_wrapper{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.marquee_wrapper{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
/*Бегущая строка*/
.marquee{
    /*font-size: 30px;*/
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
    /*color: #333333;*/
    /*width: 450px;*/
    /*margin-top: 30px;*/
    /*overflow: hidden;*/
    /*margin-top: 30px;*/
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.marquee {
    /*display: inline-block;*/
    /*width: max-content;*/

    /*padding-left: 100%;*/
    /*!* show the marquee just outside the paragraph *!*/
    /*will-change: transform;*/
    /*animation: marquee 15s linear infinite;*/
    font-size: 30px;
    font-weight: bold;
    height: 100px;
    text-align: center;
}
@keyframes marquee {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
.adverbs > div{
    /*text-align: justify;*/
    text-align: center;
    width: 100%;
}
.ads{
    /*margin-top: 76px;*/
    margin-top: 86px;
}
.ads .advs-block{
    /*height: 250px;*/
    height: 263px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
}
.advs-block .leftside-title{
    font-size: 25px;
}
.ads .onlyhebrew{
    padding-top: 17%;
}
.between-row-spacer{
    margin-bottom: 24px;
}
.right-between-row-spacer{
    /*margin-bottom: 12px;*/
    margin-bottom: 6px;
}
.dedication{
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    border-radius: 10px;
    /*color: #333;*/
    /*text-align: center;*/
    background-color: cornsilk;
    /*margin: 5px 5px 5px 5px;*/
    border: 1px solid #f1f1f1;

    font-family: 'Courier New', monospace;
    font-size: 36px;
    font-weight: bold;
    color: blue;
    text-align: center;
    /*border-style: groove;*/
    /*border-color: black;*/
    /*margin-left: 30%;*/
    /*margin-right: 30%;*/
    /*background-color: white;*/
    /*box-shadow: 0 0 10px rgba(0 0 0 0.5);*/
    /*border-radius: 10px;*/
    /*border: 13px solid;*/
    /*border-image: url("border90-83.png");*/
    /*border-image-slice: 35 30 35 30;*/
    /*border-image-repeat: round stretch;*/
    /*position: absolute;*/
    /*bottom: 20vh;*/
    /*left: 30vw;*/
    /*z-index: 99;*/
}
.credits{
    font-family: 'Courier New', monospace;
    font-size: 20px;
    color: black;
    /*text-align: right;*/
    /*margin-top: 15px;*/
    display: flex;
    justify-content: end;
    align-items: end;
}
#footer{
    display: flex;
    /*position: absolute;*/
    /*bottom: 34px;*/
}
.adverbs{
    padding: 15px;
    font-size: 22px;
    width: 33%;
    display: flex;
    flex-direction: column;
}

.gone{
    position: relative;
}
.gone:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.5);

}