html { overflow: hidden; }
body {
    color: #000; /* цвет текста на странице */
    background-image: url("paper-2.jpg");
    background-position: right top;
    background-repeat: repeat;
}
body a{
    color: blue;
}
body a:active{
    color: blue;
}
body a:visited{
    color: blue;
}
#header {
    margin: 10px 0 20px 0;
    line-height: 1.6;
}
#subheader{
    line-height: 1;
}
#menu {
    width: 25%; /* ширина меню */
    /*height: auto; !* высота *!*/
    float: left; /* всплытие влево */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 675px;

}
#sidebar {
    width: 25%; /* ширина сайдбара */
    height: auto; /* высота */
    float: right; /* всплытие вправо */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 675px;
}
#content {
    height: auto; /* высота контента */
    background: #eee; /* фон */
    /*margin: 0 20% 0 25%; !* боковые поля *!*/
    background: rgba(0, 170, 238, 0);
}
#footer {
    width: 100%;
    height: 50px; /* высота футера */
    color: #fff; /* цвет текста */
    clear: both; /* прерывание обтекания */
}
.advs-block {
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    border-radius: 10px;
    color: #333;
    text-align: center;
    background-color: cornsilk;
    margin: 5px 5px 5px 5px;
    border: 1px solid #f1f1f1;
}
.white {
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    border-radius: 10px;
    color: #333;
    text-align: center;
    background-color: cornsilk;
    margin: 5px 5px 5px 5px;
    border: 1px solid #f1f1f1;
}
.parsha {
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    border-radius: 10px;
    color: #333;
    text-align: center;
    background-color: cornsilk;
    margin: 0 auto;
    border: 1px solid #f1f1f1;
    width: 550px;
}
.Synagogue {
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    border-radius: 10px;
    color: #333;
    text-align: center;
    background-color: cornsilk;
    margin: 0 auto;
    border: 1px solid #f1f1f1;
    width: 700px;
}
#clock{
    font-family:Tahoma, sans-serif;
    font-size:20px;
    font-weight:bold;
    color:#0000cc;
}

@font-face {
    font-family: Courier New; /* Гарнитура шрифта */
    src: url('fonts/couriernew.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/couriernew.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/couriernew.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/couriernew.ttf')  format('truetype')/* Safari, Android, iOS */;
}
#mainBlock{
    margin-bottom: 6px;
}
.title{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
}
.synagogue-name{
    font-family: Courier New;
    font-size: 70px;
    font-weight: bold;
}
.date{
    font-family: Arial;
    font-size: 45px;
    color: navy;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftside-title{
    font-size: 30px;
    font-family: Tachoma;
    color: #333333;
}
.white .leftside-title{
    font-size: 30px;
    font-family: Tachoma;
    color: #333333;
    display: flex;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
}
.leftside-time{
    font-size: 45px;
    font-family: Arial;
    color: #333333;
    font-weight: bold;
}
.canva_wrapper{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.marquee_wrapper{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
/*Бегущая строка*/
.marquee{
    /*font-size: 30px;*/
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
    /*color: #333333;*/
    /*width: 450px;*/
    /*margin-top: 30px;*/
    /*overflow: hidden;*/
    /*margin-top: 30px;*/
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.marquee {
    /*display: inline-block;*/
    /*width: max-content;*/

    /*padding-left: 100%;*/
    /*!* show the marquee just outside the paragraph *!*/
    /*will-change: transform;*/
    /*animation: marquee 15s linear infinite;*/
    font-size: 30px;
    font-weight: bold;
    height: 100px;
    text-align: center;
}
@keyframes marquee {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
.adverbs > div{
    /*text-align: justify;*/
    text-align: center;
    width: 100%;
}
.ads{
    /*margin-top: 76px;*/
    margin-top: 86px;
}
.ads .advs-block{
    /*height: 250px;*/
    /*height: 263px;*/
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
}
.advs-block .leftside-title{
    font-size: 15px;
}
.advs-block .leftside-time{
    font-size: 20px;
}
.ads .onlyhebrew{
    padding-top: 17%;
}
.between-row-spacer{
    margin-bottom: 24px;
}
.right-between-row-spacer{
    /*margin-bottom: 12px;*/
    margin-bottom: 6px;
}
.dedication{
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    border-radius: 10px;
    /*color: #333;*/
    /*text-align: center;*/
    background-color: cornsilk;
    /*margin: 5px 5px 5px 5px;*/
    border: 1px solid #f1f1f1;

    font-family: 'Courier New', monospace;
    font-size: 36px;
    font-weight: bold;
    color: blue;
    text-align: center;
    /*border-style: groove;*/
    /*border-color: black;*/
    /*margin-left: 30%;*/
    /*margin-right: 30%;*/
    /*background-color: white;*/
    /*box-shadow: 0 0 10px rgba(0 0 0 0.5);*/
    /*border-radius: 10px;*/
    /*border: 13px solid;*/
    /*border-image: url("border90-83.png");*/
    /*border-image-slice: 35 30 35 30;*/
    /*border-image-repeat: round stretch;*/
    /*position: absolute;*/
    /*bottom: 20vh;*/
    /*left: 30vw;*/
    /*z-index: 99;*/
}
.credits{
    font-family: 'Courier New', monospace;
    font-size: 20px;
    color: black;
    /*text-align: right;*/
    /*margin-top: 15px;*/
    display: flex;
    justify-content: end;
    align-items: end;
}
.credits div{
    text-align: center;
}
#footer{
    display: flex;
    /*position: absolute;*/
    /*bottom: 34px;*/
}
.adverbs{
    padding: 15px;
    font-size: 22px;
    width: 33%;
    display: flex;
    flex-direction: column;
}

.gone{
    position: relative;
}
.gone:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.5);

}
.h20{
    height: 20px;
}
.parsha-title{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
}
.parsha-name40{
    font-size: 40px;
    font-family: Arial; color: #333333;
    font-weight: bold;
}
.parsha-name70{
    font-size: 70px;
    font-family: Arial; color: #333333;
    font-weight: bold;

}
@media (min-width: 1024px){
    .title{
        font-size: 20px!important;
    }
    .synagogue-name{
        font-size: 20px!important;
    }
    .date{
        font-size: 20px;
    }
    .parsha{
        font-size: 0!important;
        width: 100%;
    }
    .parsha span:first-child{
        display: none;
    }
    #mainBlock{
        margin-top: 15px;
    }
    #menu, #sidebar{
        width: 50%;
    }
    #content{
        display: none;
    }
    .white .leftside-title{
        font-size: 24px;
    }
    .white .leftside-time{
        font-size: 19px;
    }
    .between-row-spacer{
        margin-bottom: 0;
    }
    #footer{
        margin: 10px 0 20px 0;
    }
    .dedication{
        font-size: 30px;
    }
    .credits{
        justify-content: center;
        margin-top: 20px;
    }
    #subscribe{
        width: 100%;
        background-color: papayawhip;
        margin-top: 15px;
        border-radius: 10px;
        font-size: 30px;
    }
}
@media (max-width: 500px) {
    html { overflow: auto; }
    .title{
        font-size: 20px!important;
    }
    .synagogue-name{
        font-size: 20px!important;
    }
    .date{
        font-size: 14px;
    }
    .parsha{
        font-size: 0!important;
        width: 100%;
    }
    .parsha span:first-child{
        display: none;
    }
    #mainBlock{
        margin-top: 15px;
    }
    #menu, #sidebar{
        width: 50%;
    }
    #content{
        display: none;
    }
    .white .leftside-title{
        font-size: 13px;
    }
    .white .leftside-time{
        font-size: 24px;
    }
    #footer{
        margin: 10px 0 20px 0;
    }
    .dedication{
        font-size: 30px;
    }
    .credits{
        justify-content: center;
        margin-top: 20px;
    }
    #subscribe{
        width: 100%;
        background-color: papayawhip;
        margin-top: 15px;
        border-radius: 10px;
        font-size: 30px;
    }
    .between-row-spacer{
        margin-bottom: 0;
    }
    .h20{
        height: 0;
    }
    .parsha-title{
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #333333;
    }
    .parsha-name40{
        font-size: 20px;
        font-family: Arial; color: #333333;
        font-weight: bold;
    }
    .parsha-name70{
        font-size: 20px;
        font-family: Arial; color: #333333;
        font-weight: bold;

    }

}
